#root {
  background: lightgray;
  height: 100vh;
  width: 100vw;
  padding: 1em;
}

.raised {
  box-shadow: 0 0 0.5em gray;
}

#app-container {
  background: white;
  border-radius: 0.5em;
  padding: 1em;
  padding-bottom: 0;
}

#app-title {
  padding: 0 1em;
}

.table td {
  vertical-align: middle;
}

.table .user-icon {
  width: 5em;
}

.table .text-align-center {
  text-align: center;
}

.table .user-icon div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  color: white;
  font-size: 30px;
}
