.gradient {
  background: linear-gradient(135deg, purple, orange 175%);
  color: white;
}

.card {
  border: 0;
}

.card-body {
  display: flex;
  flex-flow: wrap;
  padding: 0.25em;
}

.card-header .row {
  display: flex;
  align-items: center;
}

.fa-sort-down {
  transform: translateY(-5px);
}

.close {
  color: white;
  margin-left: 0;
}

.modal-content {
  border: 0;
  border-radius: 0.5em;
  overflow: hidden;
}

.modal-header {
  background: #4d4d4d;
  color: white;
  border: 0;
}

.modal-body {
  padding: 0;
  background: #4d4d4d;
  border: 0;
}
